<div class="media">
  <div class="media-left">
    <img src="dk7rznw1.png" class="media-object" style="width: 100px" />
  </div>
  <div class="media-body">
    <h4 class="media-heading">Abdallah mohamed ahmed Galal</h4>
    <!-- <p class="text-muted m-auto pt-4 " style="width: 30%;font-weight: 700; "  >
        
        </p> -->

    <ul >
      <h4>hobbies:</h4>
      <li class=" text-muted" style="font-weight: 700; " *ngFor="let item of hobbie;let i=index">
       {{item}} 
      </li>
    </ul>
  </div>
</div>
