<div class="media">
    <div class="media-left">
      <img src="dk7rznw1.png" class="media-object" style="width:100px ">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Abdallah mohamed ahmed Galal</h4>
      <p class="text-muted m-auto pt-4 " style="width: 30%;font-weight: 700;" >
        As a senior computer science student,  gearing up for the transition from college to the tech industry.
         With strong skills in algorithms and software engineering, 
         deeply involved in a challenging capstone project . Balancing late-night coding with job interviews,
          there's a palpable excitement and readiness for the opportunities that await in the tech world.
        </p>
    </div>
  </div>

