<div class="media">
    <div class="media-left">
      <img src="dk7rznw1.png" class="media-object" style="width: 100px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Abdallah mohamed ahmed Galal</h4>
<h4 > Goals:</h4>
<p class="text-muted m-auto p-3 " style="justify-content: center;width: 50%;font-weight: 700; ">
    Well my main goal is always making my family proud by being a successfull and respuctfull human being and always being eager to learn more.
</p>

</div>
</div>