<head></head>
<body>
  <header class="d-flex bg-secondary" style="justify-content: center">
    <div class="row-3 m-3"> 
      <button class="btn btn-primary " routerLink="Home">
      Home
    </button></div>
    <div class="row-1 m-3">
      <button class="btn btn-primary" routerLink="Show personal info">
        show personal info
      </button>
    </div>
    <div class="row-4 m-3">
      <button class="btn btn-primary" routerLink="Show hobbies">
        show hobbies
      </button>
    </div>
    <div class="row-4 m-3">
      <button class="btn btn-primary" routerLink="Show goals">
        show Goals
      </button>
    </div>
  </header>
  <body>
    <div
      class="container mt-3"
      style="background-color: blanchedalmond; height: 550px"
    >
      <router-outlet></router-outlet>
    </div>
  </body>
</body>
